*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 768px;
  margin: 0 auto;
}

h1 {
  color: #333333;
}
h2 {
  color: #4f4f4f;
}
li {
  color: #666666;
}
p {
  color: #808080;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  text-align: center;
  padding: 20px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

section img {
  margin-bottom: 20px;
}

article {
  padding: 0 10px 20px;
}

article h2 {
  margin-bottom: 20px;
}

ol {
  counter-reset: item;
  list-style-type: none;
}
ol > li {
  counter-increment: item;
  margin-bottom: 10px;
}
ol > li:before {
  content: counters(item, ".") " ";
  font-weight: bold;
  margin-right: 5px;
}
ul {
  list-style-type: none;
  margin-left: 20px;
}
ul li {
  padding: 5px;
}
li ul li {
  margin-bottom: 5px;
}

.time {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 20px;
}
